@using Microsoft.AspNetCore.Http
@using System.Text.Json;
@inject IHttpContextAccessor Accessor
@{
	ViewData["Title"] = "Profil";
}
@{
	User user = JsonSerializer.Deserialize<User>(Accessor.HttpContext.Session.GetString("_CurrentUser"));
	if (ViewData["Message"] != null)
	{
		<h2>@ViewData["Message"]</h2>
	}
	<div class="text-center">
		<div class="col-11 col-sm-11 col-md-9 col-lg-9 col-xl-9 col-xxl-9 border-1">
			<form method="post" action="/Profile/Edit">
				<label for="login" class=" col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2 col-xxl-2">Login:</label>
				<input type="text" value="@user.login" name="login" class=" col-10 col-sm-10 col-md-8 col-lg-8 col-xl-8 col-xxl-8" required /><br />
				<label for="email" class=" col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2 col-xxl-2">Email:</label>
				<input type="text" value="@user.email" name="email" class=" col-10 col-sm-10 col-md-8 col-lg-8 col-xl-8 col-xxl-8" required /><br />
				<label for="country" class=" col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2 col-xxl-2">Kraj:</label>
				<input type="text" value="@user.country" name="country" class=" col-10 col-sm-10 col-md-8 col-lg-8 col-xl-8 col-xxl-8" required /><br />
				<label for="city" class=" col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2 col-xxl-2">Miasto:</label>
				<input type="text" value="@user.city" name="city" class=" col-10 col-sm-10 col-md-8 col-lg-8 col-xl-8 col-xxl-8" required /><br />
				<label for="street" class=" col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2 col-xxl-2">Ulica:</label>
				<input type="text" value="@user.street" name="street" class=" col-10 col-sm-10 col-md-8 col-lg-8 col-xl-8 col-xxl-8" required /><br />
				<label for="postcode" class=" col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2 col-xxl-2">Kod pocztowy:</label>
				<input type="number" min="10000" max="99999" value="@user.postcode" name="postcode" class=" col-10 col-sm-10 col-md-8 col-lg-8 col-xl-8 col-xxl-8" required /><br />
				<label for="birthday" class=" col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2 col-xxl-2">Data urodzin:</label>
				<input type="date" value="@user.birthDate.Year-@user.birthDate.Month.ToString().PadLeft(2, '0')-@user.birthDate.Day.ToString().PadLeft(2, '0')" name="birthday" class=" col-10 col-sm-10 col-md-8 col-lg-8 col-xl-8 col-xxl-8" required /><br /><br />
				<input type="submit" class="btn btn-primary" class="col-8 col-sm-8 col-md-4 col-lg-4 col-xl-4 col-xxl-4" value="Zapisz zmiany" />
			</form>
		</div>
	</div>
}
