@using Microsoft.AspNetCore.Http
@using System.Text.Json;
@inject IHttpContextAccessor Accessor
@{
	ViewData["Title"] = "Profil";
}
@{
	User user = JsonSerializer.Deserialize<User>(Accessor.HttpContext.Session.GetString("_CurrentUser"));
	if(ViewData["Message"] != null)
	{
		<h2>@ViewData["Message"]</h2>
	}
	<div class="col-11 col-sm-11 col-md-9 col-lg-9 col-xl-9 col-xxl-9 border-1">
		<form method="post" action="/Profile/ChangeLogin">
			<label for="login" class=" col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2 col-xxl-2">Login:</label>
			<input type="text" value="@user.login" name="login" class=" col-10 col-sm-10 col-md-8 col-lg-8 col-xl-8 col-xxl-8" /><br /><br />
			<input type="submit" class="btn btn-primary" class="col-8 col-sm-8 col-md-4 col-lg-4 col-xl-4 col-xxl-4" value="Zapisz zmiany"/>
		</form>
	</div>
	<div class="col-11 col-sm-11 col-md-9 col-lg-9 col-xl-9 col-xxl-9 border-1">
		<p>Email: @user.email</p>
	</div>
	<div class="col-11 col-sm-11 col-md-9 col-lg-9 col-xl-9 col-xxl-9 border-1">
		<p>Kraj: @user.country<br />Miasto: @user.city<br />Ulica: @user.street<br />Kod pocztowy: @user.postcode</p>
	</div>
	<div class="col-11 col-sm-11 col-md-9 col-lg-9 col-xl-9 col-xxl-9 border-1">
		<p>Data urodzenia: @user.birthDate.Year-@user.birthDate.Month.ToString().PadLeft(2, '0')-@user.birthDate.Day.ToString().PadLeft(2, '0')</p>
	</div>
	<a class="col-11 col-sm-11 col-md-9 col-lg-9 col-xl-9 col-xxl-9 btn btn-success" asp-controller="Profile" asp-action="Edit">Edytuj Dane</a>
	<br />
	<br />
	<a class="col-11 col-sm-11 col-md-9 col-lg-9 col-xl-9 col-xxl-9 btn btn-success" asp-controller="Profile" asp-action="EditPassword">Edytuj Hasło</a>
}
