@using Microsoft.AspNetCore.Http
@using System.Text.Json;
@inject IHttpContextAccessor Accessor
@{
	ViewData["Title"] = "Przeglądaj Książki";
	string booksListString = ViewData["BooksList"].ToString();
	List<Book> books = JsonSerializer.Deserialize<List<Book>>(booksListString);
	int bookStartId = int.Parse(ViewData["bookStartId"].ToString());
	int bookCurrentId = 1;
	if (ViewData["Message"] != null)
	{
		<h2 class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">@ViewData["Message"]</h2>
	}
	<a class="btn btn-success col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center" asp-controller="write" asp-action="CreateBook">Stwórz książkę</a>
	if (bookStartId > 1)
	{
		int newBookStartId = bookStartId - 10;
		if (newBookStartId < 1)
		{
			newBookStartId = 1;
		}
		<a asp-controller="write" asp-action="Index" asp-route-bookStartId="@newBookStartId" class="btn btn-primary">Cofnij</a>
	}
	foreach (Book book in books)
	{
		<div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 col-xxl-8">Tytuł:<a asp-controller="write" asp-action="MyBookDetails" asp-route-bookId="@book.id">@book.title</a></div>
		<div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">@book.createDate</div>
		<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">@book.updateDate</div>
		if(book.description.Length <= 50)
		{
			<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">@book.description</div>
		}
		else
		{
			<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">@book.description.Substring(0, 50)</div>
		}
		<hr />
		bookCurrentId++;
		if (bookCurrentId > bookStartId + 10)
		{
			<a asp-controller="write" asp-action="Index" asp-route-bookStartId="@bookCurrentId" class="btn btn-primary">Dalej</a>
		}
	}
}