@using Microsoft.AspNetCore.Http
@using System.Text.Json;
@inject IHttpContextAccessor Accessor
@{
	string chapterString = ViewData["Chapter"].ToString();
	Chapter chapter = JsonSerializer.Deserialize<Chapter>(chapterString);
	ViewData["Title"] = chapter.title;
	<div class="d-flex justify-content-center">
		<div class="col-10 col-sm-10 col-md-8 col-lg-8 col-xl-6 col-xxl-6">
			<h1 class="text-center">@chapter.title</h1>
			<h2 class="text-center">@chapter.book.author.login</h2>
			<h4 class="text-center">Utworzono: @chapter.createTime<h4>
			<h4 class="text-center">Zaktualizowano: @chapter.updateTime</h4>
			<h4 class="text-center">Unikalni czytelicy: @chapter.uniqueReadCounter</h4>
			<h4 class="text-center">Licznik czytania: @chapter.readCounter</h4>
		</div>
		<div class="col-10 col-sm-10 col-md-8 col-lg-8 col-xl-6 col-xxl-6">
			@chapter.content
		</div>
		<div class="col-8 col-sm-8 col-md-6 col-lg-6 col-xl-4 col-xxl-4">
			<form id="commentForm" name="commentForm">
				<input type="number" name="chapterId" id="chapterId" value="@chapter.id" hidden />
				<textarea name="content" id="content">Wprowadź treść komentarza...</textarea>
				<button class="btn btn-primary" onclick="SendComment()">Dodaj komentarz</button>
			</form>
			<script>
				function SendComment()
				{
					var data = { chapterId = $(#chapterId).val, content = $(#content).val };
					$.ajax({      url: '/Read/CreateComment',         type: 'POST',         data: data,         success: UpdateComments(comment),         error: function() { alert("Nie udało się dodać komentarza! ") }     });
				}
				function UpdateComments(comment)
				{
					var commentObject = JSON.parse(comment);
					var appendString = "<h4>"+commentObject.login+"</h4><h6>Data utworzenia: "+commentObject.writeDate+"</h6><p>"+commentObject.content+"</p><hr />";
					$("#comments").append(appendString);
				}
			</script>
			<div id="comments">
				@foreach (Comment comment in chapter.comments)
				{
					<h4>@comment.user.login</h4>
					<h6>Data utworzenia: @comment.writeDate</h6>
					<p>@comment.content</p>
					<hr />
				}
			</div>
		</div>
	</div>
	
}
