@using Microsoft.AspNetCore.Http
@using System.Text.Json;
@inject IHttpContextAccessor Accessor
@{
	ViewData["Title"] = "Przeglądaj Książki";
	string booksListString = ViewData["BooksList"].ToString();
	List<Book> books = JsonSerializer.Deserialize<List<Book>>(booksListString);
	int bookStartId = int.Parse(ViewData["bookStartId"].ToString());
	int bookCurrentId = bookStartId;
	if (ViewData["Message"] != null)
	{
		<h2 class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">@ViewData["Message"]</h2>
	}
	if(bookStartId > 1)
	{
		int newBookStartId = bookStartId - 10;
		if(newBookStartId < 1)
		{
			newBookStartId = 1;
		}
		<a asp-controller="read" asp-action="Index" asp-route-bookStartId="@newBookStartId" class="btn btn-primary">Cofnij</a>
	}
	foreach(Book book in books)
	{
		<div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 col-xxl-8">Tytuł:<a asp-controller="read" asp-action="ReadBook" asp-route-bookId="@book.id">@book.title</a></div>
		<div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">Author: @book.author.login</div>
		<div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">@book.createDate</div>
		<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">@book.updateDate</div>
		<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">@book.description.Substring(0,50)</div>
		bookCurrentId++;
		if(bookCurrentId > bookStartId+10)
		{
			<a asp-controller="read" asp-action="Index" asp-route-bookStartId="@bookCurrentId" class="btn btn-primary">Dalej</a>
		}
	}
}